{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reqext</title>
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <main>
        <div class="product-upper-section">
           
        </div>
        <div class="main1-container">
            <div class="main-container">
                
                <section class="product-wrapper">
                    <button class="prea-btn"   id="prea-btn2"><img src="images/arrow.png" alt=""></button>
                    <button class="nxta-btn"  id="nxta-btn2"><img src="images/arrow.png" alt=""></button>
                    <div class="product-contain">
                        <div class="dots">
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                        </div>
                        <div class="products-product-div">
                            <div class="product-inner-div">
                                <img src="{% static 'home/imgs/bellez.jpeg' %}" >
                                <div class="product-footer">
                                    <p>hey</p>
                                    <p>free shipping</p>
                                    <p>30 days free return</p>
                                </div>
                            </div>
                        </div>
                        <div class="products-product-div">
                            <div class="product-inner-div">
                                <img src="{% static 'home/imgs/bellez.jpeg' %}" >
                                <div class="product-footer">
                                    <p>hey</p>
                                    <p>free shipping</p>
                                    <p>30 days free return</p>
                                </div>
                            </div>
                        </div>
                        <div class="products-product-div">
                            <div class="product-inner-div">
                                <img src="{% static 'home/imgs/bellez.jpeg' %}" >
                                <div class="product-footer">
                                    <p>hey</p>
                                    <p>free shipping</p>
                                    <p>30 days free return</p>
                                </div>
                            </div>
                        </div>
                        <div class="products-product-div">
                            <div class="product-inner-div">
                                <img src="{% static 'home/imgs/bellez.jpeg' %}">
                                <div class="product-footer">
                                    <p>hey</p>
                                    <p>free shipping</p>
                                    <p>30 days free return</p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </section>
                
            
                <div class="addtobag-container">
                    <div class="product-des">
                        <div class="prod-descri  roboto-mono-">  
                            <div class="prod-inner-div">
                                <p> descrition of products vjjjjj the the the thethr tht thtr tht thr tht thtthr thr thr thrttht th th tht th th the thre tht rh thkt tj </p>     
                            </div>
                            <div class="prod-inner-div2">
                                <i class='bx bx-heart'></i>
                                <i class='bx bx-export'></i>
                            </div>
                        </div> 
                        
                        <div class="production-description-div2">
                            <div class="product-name2">
                                <span>fullname of the product ddddddd</span>
                            </div>
                            <div class="star-div">
                                <i class='bx bx-star'></i>
                                <p>5 (100)</p>
                            </div>
                        </div>
                    </div>
                
                    <div class="quantity-wrapper">
                        <div class="quantity-container">
                            <p>Qty</p>
                        </div>
                        <div class="quantity-div">
                            <a href=""><div id="plus-sign"><i class='bx bx-plus' ></i></div></a>
                            <div id="count-content"><span  >1</span></div>
                            <a id="minus-sign" href=""><div ><i class='bx bx-minus' ></i></div></a>
                        </div>
                    </div>
                    <div class="submit-section">
                        <form id="addtobagid" class="addtobag  addtobag1" action="" method="">
                            <input type="submit" id="addtobag" placeholder="Add To Bag">
                        </form>
                        <form id="buyid" class="addtobag  buynow" action="" method="">
                            <input type="submit" id="buynow" placeholder="Buy Now">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <p>
                

            </p>
        </div>
       
        <div class="product_category product_category2 product_category3" id="productcat">
            <button class="prea-btn preaa-btn  "><img src="images/arrow.png" alt=""></button>
            <button class="nxta-btn nxteaa-btn   "><img src="images/arrow.png" alt=""></button>
            {% for categories in Categories %}
            <div class="category_container category_container2" id="categorycontainer">
                
                <div class="category_box category_box2">
                    {% if categories.category_image %}
                    <div class="category-image-box">
                        <img class="category_image" src="{{ categories.category_image.url  }}">
                       
                    </div>
                    {% endif %}
                    <a href="/display/getcategory/{{ categories.id }}/">
                        <div class="category-description">
                            <span class="category_span">{{categories.name}}</span>
                        </div>
        

                    </a>
                    
                </div>
                <div class="category_box">
                    <div class="category-image-box">
                        <img class="category_image" src="{% static 'home/imgs/bellez.jpeg' %}">
                       
                    </div>
                    <div class="category-description">
                        <span class="category_span">product category</span>
                    </div>

                </div>
                <div class="category_box">
                    <div class="category-image-box">
                        <img class="category_image" src="{% static 'home/imgs/bellez.jpeg' %}">
                       
                    </div>
                    <div class="category-description">
                        <span class="category_span">product category</span>
                    </div>

                </div>
                <div class="category_box">
                    <div class="category-image-box">
                        <img class="category_image" src="{% static 'home/imgs/bellez.jpeg' %}">
                       
                    </div>
                    <div class="category-description">
                        <span class="category_span">product category</span>
                    </div>

                </div>
                <div class="category_box">
                    <div class="category-image-box">
                        <img class="category_image" src="{% static 'home/imgs/bellez.jpeg' %}">
                       
                    </div>
                    <div class="category-description">
                        <span class="category_span">product category</span>
                    </div>

                </div>
                <div class="category_box">
                    <div class="category-image-box">
                        <img class="category_image" src="{% static 'home/imgs/bellez.jpeg' %}">
                       
                    </div>
                    <div class="category-description">
                        <span class="category_span">product category</span>
                    </div>

                </div>
                <div class="category_box">
                    <div class="category-image-box">
                        <img class="category_image" src="{% static 'home/imgs/bellez.jpeg' %}">
                       
                    </div>
                    <div class="category-description">
                        <span class="category_span">product category</span>
                    </div>

                </div>
                <div class="category_box">
                    <div class="category-image-box">
                        <img class="category_image" src="{% static 'home/imgs/bellez.jpeg' %}">
                       
                    </div>
                    <div class="category-description">
                        <span class="category_span">product category</span>
                    </div>

                </div>
                <div class="category_box">
                    <div class="category-image-box">
                        <img class="category_image" src="{% static 'home/imgs/bellez.jpeg' %}">
                       
                    </div>
                    <div class="category-description">
                        <span class="category_span">product category</span>
                    </div>

                </div>
                <div class="category_box">
                    <div class="category-image-box">
                        <img class="category_image" src="{% static 'home/imgs/bellez.jpeg' %}">
                       
                    </div>
                    <div class="category-description">
                        <span class="category_span">product category</span>
                    </div>

                </div>
                
            </div>
            {% endfor %}
        </div>
        <h2 class="product-category">best selling</h2>
        <div class="product product2 product3" id="product_product2"> 
            
            <button class="pre-btn  pre-btn1"><img src="images/arrow.png" alt=""></button>
            <button class="nxt-btn  nxt-btn1"><img src="images/arrow.png" alt=""></button>
            <div class="product-container productbox" id="products_containers">
                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50% off</span>
                        <img src="{% static 'home/imgs/bellez.jpeg' %}" class="product-thumb" alt="">
                        <button class="card-btn">add to bag</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">drug name</h2>
                        <p class="product-short-description">drug category</p>
                        <span class="price">$20</span><span class="actual-price"></span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50% off</span>
                        <img src="{% static 'home/imgs/bellez.jpeg' %}" class="product-thumb" alt="">
                        <button class="card-btn">add to wishlist</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">brand</h2>
                        <p class="product-short-description">a short line about the cloth..</p>
                        <span class="price">$20</span><span class="actual-price">$40</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50% off</span>
                        <img src="{% static 'home/imgs/bellez.jpeg' %}" class="product-thumb" alt="">
                        <button class="card-btn">add to wishlist</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">brand</h2>
                        <p class="product-short-description">a short line about the cloth..</p>
                        <span class="price">$20</span><span class="actual-price">$40</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50% off</span>
                        <img src="{% static 'home/imgs/bellez.jpeg' %}" class="product-thumb" alt="">
                        <button class="card-btn">add to wishlist</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">brand</h2>
                        <p class="product-short-description">a short line about the cloth..</p>
                        <span class="price">$20</span><span class="actual-price">$40</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50% off</span>
                        <img src="{% static 'home/imgs/bellez.jpeg' %}" class="product-thumb" alt="">
                        <button class="card-btn">add to wishlist</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">brand</h2>
                        <p class="product-short-description">a short line about the cloth..</p>
                        <span class="price">$20</span><span class="actual-price">$40</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50% off</span>
                        <img src="{% static 'home/imgs/bellez.jpeg' %}" class="product-thumb" alt="">
                        <button class="card-btn">add to wishlist</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">brand</h2>
                        <p class="product-short-description">a short line about the cloth..</p>
                        <span class="price">$20</span><span class="actual-price">$40</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50% off</span>
                        <img src="{% static 'home/imgs/bellez.jpeg' %}" class="product-thumb" alt="">
                        <button class="card-btn">add to wishlist</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">brand</h2>
                        <p class="product-short-description">a short line about the cloth..</p>
                        <span class="price">$20</span><span class="actual-price">$40</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50% off</span>
                        <img src="{% static 'home/imgs/bellez.jpeg' %}" class="product-thumb" alt="">
                        <button class="card-btn">add to wishlist</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">brand</h2>
                        <p class="product-short-description">a short line about the cloth..</p>
                        <span class="price">$20</span><span class="actual-price">$40</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50% off</span>
                        <img src="{% static 'home/imgs/bellez.jpeg' %}" class="product-thumb" alt="">
                        <button class="card-btn">add to wishlist</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">brand</h2>
                        <p class="product-short-description">a short line about the cloth..</p>
                        <span class="price">$20</span><span class="actual-price">$40</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50% off</span>
                        <img src="{% static 'home/imgs/bellez.jpeg' %}" class="product-thumb" alt="">
                        <button class="card-btn">add to wishlist</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">brand</h2>
                        <p class="product-short-description">a short line about the cloth..</p>
                        <span class="price">$20</span><span class="actual-price">$40</span>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="product-category">Similar Products</h2>
        <div class="product product2 product4" id="product_id"> 
            
            <button class="pre-btn  btnpre"><img src="images/arrow.png" alt=""></button>
            <button class="nxt-btn  ptnnxt"><img src="images/arrow.png" alt=""></button>
            <div class="product-container producttainer" id="container_id">
                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50% off</span>
                        <img src="{% static 'home/imgs/bellez.jpeg' %}" class="product-thumb" alt="">
                        <button class="card-btn">add to wishlist</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">brand</h2>
                        <p class="product-short-description">a short line about the cloth..</p>
                        <span class="price">$20</span><span class="actual-price">$40</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50% off</span>
                        <img src="{% static 'home/imgs/bellez.jpeg' %}" class="product-thumb" alt="">
                        <button class="card-btn">add to wishlist</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">brand</h2>
                        <p class="product-short-description">a short line about the cloth..</p>
                        <span class="price">$20</span><span class="actual-price">$40</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50% off</span>
                        <img src="{% static 'home/imgs/bellez.jpeg' %}" class="product-thumb" alt="">
                        <button class="card-btn">add to wishlist</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">brand</h2>
                        <p class="product-short-description">a short line about the cloth..</p>
                        <span class="price">$20</span><span class="actual-price">$40</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50% off</span>
                        <img src="{% static 'home/imgs/bellez.jpeg' %}" class="product-thumb" alt="">
                        <button class="card-btn">add to wishlist</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">brand</h2>
                        <p class="product-short-description">a short line about the cloth..</p>
                        <span class="price">$20</span><span class="actual-price">$40</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50% off</span>
                        <img src="{% static 'home/imgs/bellez.jpeg' %}" class="product-thumb" alt="">
                        <button class="card-btn">add to wishlist</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">brand</h2>
                        <p class="product-short-description">a short line about the cloth..</p>
                        <span class="price">$20</span><span class="actual-price">$40</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50% off</span>
                        <img src="{% static 'home/imgs/bellez.jpeg' %}"class="product-thumb" alt="">
                        <button class="card-btn">add to wishlist</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">brand</h2>
                        <p class="product-short-description">a short line about the cloth..</p>
                        <span class="price">$20</span><span class="actual-price">$40</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50% off</span>
                        <img src="{% static 'home/imgs/bellez.jpeg' %}" class="product-thumb" alt="">
                        <button class="card-btn">add to wishlist</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">brand</h2>
                        <p class="product-short-description">a short line about the cloth..</p>
                        <span class="price">$20</span><span class="actual-price">$40</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50% off</span>
                        <img src="{% static 'home/imgs/bellez.jpeg' %}" class="product-thumb" alt="">
                        <button class="card-btn">add to wishlist</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">brand</h2>
                        <p class="product-short-description">a short line about the cloth..</p>
                        <span class="price">$20</span><span class="actual-price">$40</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50% off</span>
                        <img src="{% static 'home/imgs/bellez.jpeg' %}" class="product-thumb" alt="">
                        <button class="card-btn">add to wishlist</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">brand</h2>
                        <p class="product-short-description">a short line about the cloth..</p>
                        <span class="price">$20</span><span class="actual-price">$40</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50% off</span>
                        <img src="{% static 'home/imgs/bellez.jpeg' %}" class="product-thumb" alt="">
                        <button class="card-btn">add to wishlist</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">brand</h2>
                        <p class="product-short-description">a short line about the cloth..</p>
                        <span class="price">$20</span><span class="actual-price">$40</span>
                    </div>
                </div>
            </div>
        </div>
     
        
    </main>
    <footer >
        <section class="footer-wrapper">
            <div class="footheader">
                <h2>BELLEZ STORES</h2>
            </div>
            <div class="footer-container">
                <nav class="footer-nav">
                    <div class="footer-pointer">
                        <div><h4>products</h4></div>
                        <div>
                            <div><i class='bx bx-minus' id="minus1"></i></div>
                            <div><i class='bx bx-plus' id="plus1" ></i></div>
                        </div>
                    </div>
                    <ul class="ulgen ul1">
                        <li>products</li>
                        <li>Arts</li>
                        <li>wigs</li>
                        <li>different hairs</li>
                    </ul>
                </nav>
                <nav>
                    <div class="footer-pointer">
                        <div><h4>products</h4></div>
                        <div>
                            <div><i class='bx bx-minus' id="minus2"></i></div>
                            <div><i class='bx bx-plus' id="plus2" ></i></div>
                        </div>
                    </div>
                    <ul class="ulgen  ul2">
                        <li>products</li>
                        <li>Arts</li>
                        <li>wigs</li>
                        <li>different hairs</li>
                    </ul>
                <nav>
                    <div class="footer-pointer">
                        <div><h4>products</h4></div>
                        <div>
                            <div><i class='bx bx-minus' id="minus3"></i></div>
                            <div><i class='bx bx-plus' id="plus3" ></i></div>
                        </div>
                    </div>
                    <ul class="ulgen   ul3">
                        <li>products</li>
                        <li>Arts</li>
                        <li>wigs</li>
                        <li>different hairs</li>
                    </ul>
                </nav>
                <nav>
                    <div class="footer-pointer">
                        <div><h4>products</h4></div>
                        <div>
                            <div><i class='bx bx-minus' id="minus4"></i></div>
                            <div><i class='bx bx-plus' id="plus4" ></i></div>
                        </div>
                    </div>
                    <ul class="ulgen  ul4">
                        <li>products</li>
                        <li>Arts</li>
                        <li>wigs</li>
                        <li>different hairs</li>
                    </ul>
                </nav>
                <nav>
                    <div class="footer-pointer">
                        <div><h4>products</h4></div>
                        <div>
                            <div><i class='bx bx-minus' id="minus5"></i></div>
                            <div><i class='bx bx-plus' id="plus5" ></i></div>
                        </div>
                    </div>
                    <ul class="ulgen  ul5">
                        <li>products</li>
                        <li>Arts</li>
                        <li>wigs</li>
                        <li>different hairs</li>
                    </ul>
                </nav>
                <nav>
                    <div class="footer-pointer">
                        <div><h4>products</h4></div>
                        <div>
                            <div><i class='bx bx-minus' id="minus6"></i></div>
                            <div><i class='bx bx-plus' id="plus6" ></i></div>
                        </div>
                    </div>
                    <ul class="ulgen ul6">
                        <li>products</li>
                        <li>Arts</li>
                        <li>wigs</li>
                        <li>different hairs</li>
                    </ul>
                </nav>
            </div>
        </section>
    </footer>
   
    <script src="{% static 'home/scripts/produt.js' %}"> </script>
    <script>
         jQuery.noConflict();
    jQuery(document).ready(function($) {
        $(document).ready(function(){
            $('#count-content').val() = 0;
    
            $.ajax({
                type: 'GET',
                url : "display/checkquantity/{{products.id}}/",
                success: function(data){
                    console.log(data);
                    var count = $("#count-content").val();
                    var actualcount = data.quantity
                    if (count != actualcount){
                        $("#count-content").val() = actualcount;
                    }
                   
                },
                error: function(data){
                    alert('An error occured')
                }
            });
       
        })
      
    	
       
            $(document).on('submit','#addtobagid',function(e){
              e.preventDefault();
          
              $.ajax({
                type:'POST',
                url:'/display/count/{{products.id}}',
                data:{
                    quantity:$('#count-content').val(),
                    
                  csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function(data){
                   //alert(data)
                }
              });
            
            });
            $(document).on('submit','#buyid',function(e){
              e.preventDefault();
          
              $.ajax({
                type:'POST',
                url:'/display/count/{{products.id}}',
                data:{
                    quantity:$('#count-content').val(),
                    
                  csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function(data){
                   //alert(data)
                }
              });
              
            });
        
         
         
                
                $('#addtobagid').on('click', function() {
                var check = parseInt($('#count-content').val()); // Convert the value to an integer
                check = check + 1; // Increment the value
                $('#count-content').val(check); // Update the value in the input field
                console.log('boo'); // Fixed console log
                });

                $('#minus-sign').on('click', function() {
                    var check = parseInt($('#count-content').val()); // Convert the value to an integer
                    if (check == 0) {
                        $('#count-content').val(0); // Ensure value does not go below 0
                    } else {
                        check = check - 1; // Decrement the value
                        $('#count-content').val(check); // Update the value in the input field
                    }
                    console.log('boo'); // Log when the minus button is clicked
                });

                });
    </script>
        
  </body>
</html>